/* From Uiverse.io by kennyotsu */ 
.container {
    width: 100%;
    height: 100%;
    /* Add your background pattern here */
    background-color: var(--color-bg);
    background-image: radial-gradient(rgba(6, 182, 212, 0.08) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px
  }